<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 align = 'center'>Rock Paper Scissor Game</h1>
<form action = '/rpsGame' align ='center' method="post">
        <input type="submit" name="item" value="rock" id="rock">
        <label for="rock"><img src="static/rock.jpg"></label>

        <input type="submit" name="item" value="paper" id="paper">
        <label for="paper"><img src="static/paper.jpg"></label>

        <input type="submit" name="item" value="scissor" id="scissor">
        <label for="scissor"><img src="static/scissor.jpg"></label>

    </form>
<hr>
   <h3 align = 'center'>
	Click on one image to select your item
   </h3>

</body>
</html>